.footer {
	height: 180px;
	bottom: 0px;
	left: 0px;
	background: #303030;
	width: 100%;
	position: relative;
}

.topBlue {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 100%;
  background: #6599FF;
}
.footer .socialLinks {
  display: flex;
  justify-content: center;
}
.footer .socialLinks a {
    margin: 50px 0px 0px 0px;
}

.footer .socialLinks a i {
	font-size: 24px;
    color: white;
}

.socialLinks a:nth-child(2) {
    margin: 50px 0px 0px 30px;
}
.otherLinks a {
    text-decoration: none;
	cursor: pointer;
	margin-top: 15px;
	text-align: center;
	font-size: 18px;
	color: white;
	display:block;
	transition: transform .2s ease-in-out; 
}

.otherLinks a:hover {
	transform: scale(1.05);
}	

@media screen and (max-width: 800px){
	.footer {
		height: 110px;
	}
	.topBlue {
	  height: 15px;
	}
	.footer .socialLinks a {
    	margin: 25px 0px 0px 0px;
	}
	.socialLinks a:nth-child(2) {
    	margin: 25px 0px 0px 30px;
	}

	.footer .otherLinks a {
	    font-size: 14px;
	    margin-top: 10px;
	}

}
