
.projectElement {
	width: calc(33% - 10px);
	padding-top: 32%;
	position: relative;
    justify-content: space-between;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid #7c7c7c;
	border-radius: 2%;
	margin-bottom: 20px;
}

.projectElement .projectSubtitleWrapper {
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.projectSubtitle {
	position: absolute;
	width: calc(100% - 20px);
	bottom: 0px;
	left: 0px;
	opacity: 0;
	background: #303030;
	color: white;
	transition: all 1s ease;
	display: flex;
	padding: 10px;
	justify-content: center;
	align-content: center;
}

.projectSubtitle span {
	margin: 0;
	padding: 0px;
	color: white;
	font-size: 24px;
}

.projectElement:hover > a .projectSubtitle {
	opacity: 1;
}	

@media screen and (max-width: 1250px) and (min-width: 900px){
	.projectElement {
		height: 300px;
	}
}

@media screen and (max-width: 900px){
	.projectElement {
		width: calc(50% - 10px);
		padding-top: 45%;
	}
	.projectElement .projectSubtitle {
		opacity: 0.8;
		height: 30px;
	}
	.projectElement .projectSubtitle span {font-size: 16px;}
}

.contentNotAvaiable {
	opacity: 1;
    background: #303030;
    opacity: 0.9;
    position: relative;
}
.contentNotAvaiable:before {
	position: absolute;
	top:50%;
	content: "Content Avaiable Soon";
	width: 100%;
	text-align: center;
	font-size: 22px;
	font-weight: 500;
	color: white;
}

@media screen and (max-width: 750px){
	.projectElement .projectSubtitle {
		opacity: 0.8;
		height: 10px;
	}
	.projectElement .projectSubtitle span{
		opacity: 0.8;
		height: 10px;
	}
	.contentNotAvaiable:before {
		top:30%;
	}
}
